@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Flex:opsz@8..144&family=Roboto:wght@700&display=swap');

:root {
    --primary-color: #042d63;
    --secondary-color: #5D4A4A;
    --accent1-color:  #737373;
    --accent2-color:#595959;
    --heading-font: 'Roboto';
    --paragraph-font:'Osawald';
    --nav-background-color: #336699;
    --nav-link-color:#23455c ;
    --nav-hover-link-color: #b5d0e3 ;
   --nav-hover-background-color: #0e1b25 ;
}

header{
    padding: 20px;
    background-color: var(--accent1-color) ;
    display: grid;
    grid-template-columns: auto 1fr; /* Auto-sized column for the logo, 1fr for the navbar to take the remaining space */
    align-items:center; /* Center items vertically within the header */

 
}
.navbar {
    display: flex;
    justify-content: flex-end}
    
.navbar a {
        padding: 15px;
        text-decoration: none;
        border: 5px solid #9b9696;
        color:white;
        
      
    }
.navbar a:hover {
        color: #2b2b2c;}

p{
    padding: 25px;
    color: black;
}
body{
    margin: 0;
    padding: 0;
    max-width:100%;
    background-color: #9b9696;
}
.hero {
    position: relative;
    padding: 20px; 
       
}

.hero #he{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}
.rapid{
   background-color: transparent;
   color: rgba(226, 219, 221, 0.932);
  
}
article{
    background-color: transparent;
    top: 300px;
    width: 90%;
    margin: 0 50px;
    color: white;
}

.rapid{
    width: 100%;
    display: block;
   
    top: 1rem;
    color: white;
    padding: 3rem;
    text-align: center;
}

.rapid, article{
    position: absolute;
    
}

article img {
    float: right;
    margin: 1rem;
}



.image-block img{
    display: block;
    padding: 1rem 0;
}

.adventure{

text-align: center;
}

.adventures-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
}

figure {
    text-align: center;
}
figure img {
    width: 100%; /* Ensure images fill the container */
    max-width: 200px; /* Set a maximum width for the images */
    border-radius: 8px; }

 
footer {
    
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #686161;
    
}
.history{
    text-align: center;
    color: #042d63;
}
.history-text{
    display: flex;
    padding: 20px;
    margin-bottom: 100px;

   
}
.history-text img{
    height: 200px;
}

/* contact us page  */

.first-container{
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
 
}
.talk{
   border-style: solid ;
   width: fit-content;
   box-sizing: content-box;
   

}
.talk-sales{
    text-align: center;


}

.telephone{
    text-align: center;
   
    padding:0px;
}
.support{
    border-style: solid ;
    width: fit-content;
   

}
.contact-customer{
    text-align: center;

}
.contact-support{
  
    border:12px;
    background-color: #0e1b25;
    color: white;
    background-repeat: no-repeat;
    width: 100px;
    text-align: center;
    margin-left: 200px;
    text-decoration: none;
}
.support a:hover{
    color: #c2b5b5;

}
.second-container{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    
}
.third-container{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-top:90px;
    
}
.form-container{
display: grid;
padding: 15px;
grid-gap: 10px;
width: 500px;
margin-top: 50px;
margin-left: 500px;
background-color: #a39c9c;
}
button{
color: #175a8d;
background-color: #0e1b25;
color: #efeff5;
    border: none;
     width: 50%;
    height: auto;
    border-radius: 5rem ;
    padding:0.5rem;
    font-size: 1.2rem;
    margin-left: 120px;   
    margin-bottom: 50px;
 
}
.img01{
   width: 200px;
}
.img02{
    width: 200px;
}
.img03{
    width: 200px;
}
.image{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 50px;
}
.if{
    width: 400px;
    height: auto;}
    
/* } home page styling  */

.mainstart{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
     
    }


 .firsttext{
    position:absolute;
    color: #ecf1f3;
    margin-bottom: 300px;
    font-weight: bolder;
    font-size: larger;

   
}
.homeimage{
  height: 500px;
  width: 100%;
 
}
.secondstage{
    display: flex;
 
    justify-content: space-around;

 
}
.secimage{
    width: 500px;
    height: 300px;
}

.text {
    flex-grow: 1;
/* } /* Allow the text to grow and take available space   */

}
.check{
   
    font-weight: bold;
    color: white;
    background-color: rgb(39, 38, 38) ; 
    width: 350px;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 30px;
    
}
    
.review1{
    border: solid black;
    width: 250px;
    height: 190px;
}
.review2{
    border: solid black;
    width: 250px;
    height: 190px;
}
.review3{
    border: solid black;
    width: 250px;
    height: 170px;
}
.review{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}
.james{
 font-weight: bold;
 font-size: 18px;
 margin-left: 50px;
}
.peace{

    font-weight: bold;
    font-size: 18px;
    margin-left: 50px;
}
.cynthia{
    font-weight: bold;
    font-size: 18px;
    text-align: center ;
    margin-left: 50px;
}
.activities{
    text-decoration: none;
    border: 12px;
    background-color: #2b2b2c;
    color: #9b9696;
}

    /* border:12px;
    background-color: #0e1b25;
    color: white;
    background-repeat: no-repeat;
    width: 100px;
    text-align: center;
    margin-left: 200px;
    text-decoration: none; */